table, td {
	border: solid 2px black;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin: auto;
}

#col1{
	width: 40%;
}
#col2, #col3{
	width: 30%;
}

td:first-child {
	text-align: left;
}



